@{
    Layout.Title = T("Newsletter unsubscription");
}
<h1>@T("Newsletter unsubscription")</h1>
<div>
    <p>@T("a confirmation email was sent to your email address.<br/>Please confirm your unsubscription by clicking on link in your email.")</p>
</div>
