@{
    Layout.Title = T("Newsletter subscription");
}
<h1>@T("Newsletter subscription")</h1>
<div>
    <p>@T("Dear") <strong>@Model.Subscriber.Name</strong>, </p>
    <p>@T("a confirmation email was sent to your email address.<br/>Please confirm your email by clicking on link in your email.")</p>
</div>
