@{
    var homeUrl = Href("~/");
}
<div class="col-lg-12">
    Copyright &#169; <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a>. Designed by <a href="http://www.laser-group.com" target="_blank">Laser</a>.<br />
</div>