@using Laser.Bootstrap;
@using Laser.Bootstrap;
@{
    var homeUrl = Href("~/");
    bool useFixedNav = WorkContext.SettingsEval(Constants.UseFixedNav);
    var siteName = WorkContext.CurrentSite.SiteName;
    var siteNameColoured = "";
    if (siteName.IndexOf('[') > -1) {
        //TODO: make it more flexible
        siteNameColoured = siteName.Substring(siteName.IndexOf('[') + 1);
        siteNameColoured = siteNameColoured.Substring(0, siteNameColoured.IndexOf(']'));
        siteName = siteName.Substring(0, siteName.IndexOf('['));
    }
}

@if (useFixedNav) { 
    <a class="navbar-brand" href="@homeUrl">@siteName
        @if (siteNameColoured != "") { 
            <span>@siteNameColoured</span>
        }
    </a>
} else {
    <div class="brand">
        <h3>@siteName
            @if (siteNameColoured != "") { 
                <span>@siteNameColoured</span>
            }

        </h3>
        <p class="lead">@WorkContext.SettingsEval(Constants.TagLineText)
        </p>
    </div>
}