@* 
    ContentPart: VoteWidgetPart
    ContentItems: List
*@

@{
    IEnumerable<object> contentItems = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("vote-widget");
}

@Display(Model.ContentItems)
@if (contentItems == null || contentItems.Count() == 0) {
<p>@T("There are no voted contents.")</p>
}