@{ 

}

<div class="warning">
    @T("No countries' hierarchy was configured. Have an administrator configure one <a href=\"{0}\">here</a>.", 
        Url.Action("Index", "ECommerceSettingsAdmin", new { Area = "Nwazet.Commerce" }))
</div>