@model dynamic
@{ Layout.Title = "Back Office - " + WorkContext.CurrentSite.SiteName; }
<section class="dashboard group">

    @*<div class="help-item">*@
        <h2> Laser Group - Benvenuti nel sistema di gestione contenuti bbbbbbbbbbbbbbbbbbbbbb</h2>
 @*       <h2 class="friends">Contatti</h2>
        <p>
            <h3>Sede di Saint Christophe</h3>
            <ul>
                <li class="icon-phone">+39 0165 516017</li>
                <li class="icon-mail">supptech@laser-group.com</li>
                <li class="icon-skype">skype</li>
            </ul>
            <h3>Sede di Strambino</h3>
            <ul>
                <li class="icon-phone">+39 0125-636101 </li>
                <li class="icon-mail">supptech@laser-group.com</li>
                <li class="icon-skype">@@laser-group.com</li>
            </ul>
        </p>
    </div>

    <div class="help-item">
        <h2 class="docs">Manuali</h2>
        <p><a href="http://google.it" target="_blank">Documentation</a> Documentazione e manuali d'uso</p>
    </div>
    <div class="help-item">
        <h2 class="gallery">News dalla Laser</h2>
        <iframe id="advisory" src="http://www.orchardproject.net/advisory" frameborder="0" height="100%" width="100%" scrolling="no">
            <p>@T("Your browser does not support iframes. You can't see advisory messages.")</p>
        </iframe>
    </div>*@
</section>
