.addthis_toolbox.addthis_pill_combo a
{
    float: left;
}
.addthis_toolbox.addthis_pill_combo a.addthis_button_tweet, .addthis_toolbox.addthis_pill_combo a.addthis_counter
{
    margin-top: -2px;
}
.addthis_button_compact .at15t_compact
{
    margin-right: 4px;
    float: left;
}
