@model Laser.Orchard.MailCommunication.Models.MailCommunicationPart
@{
    Style.Require("FontAwesome430");
    Style.Require("FontAwesome430.ie7").UseCondition("IE 7");
}
<div class="tab-folder">
    <a href="#mail-comm-container"><i class="fa fa-envelope"></i>@T("Email")</a>
</div>
