<div>

     @{ //Display(Laser.Orchard.WebServices.Services.ShapeHelper.Find(Model, "Parts_Tags_ShowTags"))
        
     }
</div>
@{
    //if (TempData.Keys.Count > 0) {
    //    //editor = TempData["CustomFormWidget.InvalidCustomFormState"];
    //    foreach (var key in TempData.Keys) {
    //        foreach (var item in editor.Content.Items) {
    //            if (item.Prefix == key) {
    //                if (TempData[key] != null) {
    //                    item.ContentField.Value = TempData[key].ToString();
    //                    if (!(item.Model is Orchard.Fields.Fields.InputField) && !(item.Model is Orchard.Fields.Fields.EnumerationField)) {
    //                        item.Model.Field.Value = TempData[key].ToString();
    //                        item.Model.Text = TempData[key].ToString();
    //                    }
    //                }
    //                break;
    //            }
    //        }
    //    }
    //    // int i=0;
    //    // Type t = Model.GetType();



    //    // System.Reflection.PropertyInfo prop = t.GetProperty("ContentItem");


    //    // var value = prop.GetValue(Model, null);

    //    //  object list = prop.GetValue(Model);
    //    //foreach(var mymemeber in Model.Members)
    //    // {
    //    //    i++;
    //    //    <span>@i</span>
    //    // }
   //// }
}