@Display(New.Parts_Title_Default(Title: T("Lost Password").ToString(),
    Subtitle: "",
    ImageUrl: "",
    ImageTitle: "",
    ImageAlternateText: ""))
@Display(New.Parts_Body_Default(Html: T("Please enter your username or email address.You will receive a link to create a new password via email.").ToString()))
<div class="container">
    @using (Html.BeginFormAntiForgeryPost(Url.Action("RequestLostPassword"), FormMethod.Post, new { @class = "form-horizontal" })) {
        @Html.TextBox("username", string.Empty, new { @class = "form-control" })
        @Html.ValidationMessage("username")
        <div class="space-20"></div>
                <input type='submit' class="submit" value='@T("Send Request")'>
    }
</div>
