@model Laser.Orchard.SEO.ViewModels.GoogleTrendsViewModel

@using (Script.Head()) {

}

@{
    <div class="container">
        <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=@Model.hl&q=@Model.q&geo=@Model.geo&date=@Model.date&cmpt=q&tz=Etc/GMT-2&tz=Etc/GMT-2&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=550&h=350"></script>
    </div> 
}