@using Orchard.ContentManagement
@using Orchard.Fields.Fields
<script type="text/javascript">
    $(document).ready(function () {
        $(":button.primaryAction").hide();
        $("#FormAjaxList").submit(function (e) {
            var url = '@Url.Action("AjaxList", "DynamicProjectionDisplay", new { area = "Laser.Orchard.ContentExtension"})'
            $.ajax({
                type: "GET",
                url: url,
                data: $("#FormAjaxList").serialize(),
                success: function (data) {
                    // Handle the fact that returnUrls have likely been generated using the 
                    // ajax request, hence following them is wrong.
                    var retUrlRegex = /returnUrl=\S*AjaxList/g;
                    var result = data.replace(retUrlRegex, function (x) {
                        // the returnUrl should point to the List action, rather than the
                        // one for the ajax request.
                        return x.replace("AjaxList", "List");
                    });
                    $("#AjaxList").html(result);
                }
            });
            e.preventDefault();
        });
        $("#FormAjaxList").submit();
    });
</script>
@{
    IContentManager _contentManager;
    WorkContext.TryResolve<IContentManager>(out _contentManager);
    Layout.Title = Model.Part.AdminMenuText;

    Script.Require("JQuery").AtHead();
}
<form id="FormAjaxList" method="get">
    <input type='hidden' name='contentid' value='@Request.QueryString["contentid"]' />
    <input type='hidden' name='page' value='1' />
    @if (!string.IsNullOrEmpty(Model.Form) || Model.FilterContent != null) {
        if (!string.IsNullOrEmpty(Model.Form)) {
            @Html.Partial((string)(Model.Form))
        }
        if (Model.FilterContent != null) {
            @Display(_contentManager.BuildEditor(Model.FilterContent));
        }
        <button type="submit" value="submit">Applica</button>
    }
</form>
@using (Html.BeginFormAntiForgeryPost()) {
    <div id="AjaxList">
    </div>
}
