/* Brown Color - #9b7064
================================================== */
a:hover {
	color: #9b7064;
}
.flexslider .slides .slide-caption, .flexslider2 .slides .slide-caption2 {
	border-bottom: 2px solid #9b7064;
}
.flexslider .slides .slide-caption h3 a:hover, .flexslider2 .slides .slide-caption2 h3 a:hover{
	color: #9b7064;
}
.flex-direction-nav a, .flexslider2 .flex-direction-nav a {
	background: #9b7064 url(../images/bg_direction_nav.png) no-repeat 0 0;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus, 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover,
#header .nav li:hover > a, .nav li.active:hover > a  {
	background: #9b7064;
}
.subnav {
	border-top: 2px solid #9b7064;	
	border-bottom: 2px solid #9b7064;
}
.subnav li a:hover {
	border-bottom-color: #9b7064;
}
.feat2 {
	border-top: 2px solid #9b7064;
}
.caption-container h1 span {
  	color: #9b7064;
}
.caption-slide2 .btn {
	background: #9b7064;	
}
#footer-copy {
	border-top: 1px solid #9b7064;	
}
#scrolltop a {
	background: #9b7064 url(../images/bg-scrolltop.png) no-repeat 0 0;
}
.btn {
	background: #9b7064;
}
#accordions h2:hover {
	color: #9b7064;
}
.nav-tabs li:hover a, .nav-tabs li a:hover, .nav-tabs li.active a:hover {
	color: #9b7064;
}
.dropcap { 
	color: #9b7064;
}
.dropcap2 {
	background: #9b7064;
}
.span3:hover .block-title {
 	color: #9b7064;
}
.span3:hover .block-circle, .span4:hover .block-circle {
	background: #9b7064;
}
.progress .bar {
	background: #9b7064;
}
.portfolio article:hover .p-text, .portfolio .portfolio-item:hover .p-text {
	border-bottom: 2px solid #9b7064;
}
.image-overlay-bg a.image-link {
	background: #9b7064 url(../images/img-overlay2.png) no-repeat center;
}
.image-overlay-bg a.image-lightbox {
	background: #9b7064 url(../images/img-overlay.png) no-repeat center;
}
.image-overlay-bg a.overlay-video {
	background: #9b7064 url(../images/video-overlay.png) no-repeat center;
}
.menu-filterable.nav-pills > .active > a, 
.menu-filterable.nav-pills.nav-pills > .active > a:hover {	
	background-color: #9b7064;
}
.portfolio-detail .flex-direction-nav .flex-prev,  
.portfolio-detail .flex-direction-nav .flex-next {
	background-color: #9b7064;  
}
.post-date {
	background: #9b7064;
}
.tagscloud a {
	background: #9b7064 url(../images/arrows2.png) no-repeat left center;
}