
@media(max-width:767px){
    .text-center-xs{ text-align:center; }
    .text-center-xs .img-responsive{ margin-left:auto; margin-right:auto; }
    body{ font-size:16px; }
    .perspective-layer{ box-shadow:-12px 12px 18px rgba(0, 0, 0, 0.4); }
    .showcase-perspective .perspective-layer:nth-child(2){ top:10px; }
    .showcase-perspective .perspective-layer:nth-child(3){ top:20px; }
    .showcase-perspective .perspective-layer:nth-child(4){ top:30px; }
    .showcase-perspective .perspective-layer:nth-child(5){ top:40px; }
    .showcase-perspective .perspective-layer:nth-child(6){ top:50px; }
    .showcase-perspective .perspective-layer:nth-child(7){ top:60px; }
    .showcase-perspective .perspective-layer:nth-child(8){ top:70px; }
    .showcase-perspective:hover .perspective-layer:nth-child(2){ margin-top:6px; }
    .showcase-perspective:hover .perspective-layer:nth-child(3){ margin-top:12px; }
    .showcase-perspective:hover .perspective-layer:nth-child(4){ margin-top:18px; }
    .showcase-perspective:hover .perspective-layer:nth-child(5){ margin-top:24px; }
    .showcase-perspective:hover .perspective-layer:nth-child(6){ margin-top:30px; }
    .showcase-perspective:hover .perspective-layer:nth-child(7){ margin-top:36px; }
    .showcase-perspective:hover .perspective-layer:nth-child(8){ margin-top:42px; }

    .showcase-perspective{ height:260px; width:100%; margin-top:40px; }
    .category-layer .category-layer-title{ font-size:30px; line-height:60px; }
    .navbar-default .navbar-toggle{ border:0; }
    .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{ background:none; }
    .navbar-default .navbar-toggle .icon-bar{ width:30px; background:#ff0903; height:3px; }
    .navbar-toggle .icon-bar + .icon-bar{ margin-top:6px; }
    .navbar-nav{ background:#fff; margin:0 -15px; border-bottom:1px solid #eee; }
    .navbar-nav > li{ display:block; padding:0; }
    .navbar-nav > li > a{ border:0; padding:15px 15px 0px 0px; border-left:8px solid transparent; }
    .navbar-nav .dropdown-menu{ display:none !important; }
    #main-menu { padding-bottom:15px; }
    #intro{ height:auto !important; }
    #intro .container.container-desc, #intro .container.container-desc, #intro .container.container-news{ margin-left:0; left:auto; position: relative; top:auto; }
    #intro{ height:auto !important; /*padding:150px 0 50px;*/ }
    #intro #intro-canvas{ position:absolute; top:0; left:0; width:100%; height:100%; }
    #intro .claim{ font-size:40px; line-height:33px; letter-spacing:-2px; }
    #intro .claim-rosso{ font-size:40px; line-height:33px; letter-spacing:-2px; padding-left:20px;  }
    #intro{ background:#fff !important; }
    .title{ font-size:35px; line-height:40px; }
    #intro .page-claim{ font-size:20px; }
    #intro .page-desc{ font-size:16px; }
    #focus .focus-item{ border-right:0; margin-bottom:30px; } 
    #focus { margin-top:  70px; } 
    .focus-plus-home { border-bottom: 1px solid #fff; }
    #showcase-slider{ margin:0 10px; }
    #showcase-slider .slick-next::before, #showcase-slider .slick-prev::before{ color:#5D5D5D; font-size:30px; line-height:30px; height:auto; margin-top:-15px; }
    #showcase-slider .slick-prev{ left:-25px; }
    #showcase-slider .slick-next{ right:-25px; }

    #showcase-slider .showcase-item-title{ font-size:35px;  }
    #showcase-slider .showcase-item-claim{ font-size:22px; line-height:26px; }
    #showcase-slider .showcase-item-desc{ font-size:18px; line-height:22px;}
    #news-home .col-news{ padding:0 15px; }
    #news-home .news-item-title{  font-size:22px; }
    #news-home .news-item-date{ font-size:16px; }
    #news-home .news-item-desc{ font-size:16px; }
    #business-footer .business-claim{ font-size:35px; }
    .business-claim{ font-size: 20px; font-weight:300; color:#444; margin: 40px 0; }
    .business-description{ text-align: justify; overflow-wrap: break-word; }
    #foto-sfondo .foto-sfondo-title{ font-size:30px; }
    .social-nav{ font-size:0; text-align:center; }
    .social-nav > li{ display:inline-block; float:none; font-size:18px; }
    
    #footer .footer-title, #footer .footer-contact{ text-align:center; }
    .other-label{ font-size:18px; }
    #societa-footer .societa-footer-title{ font-size:20px; }
    .page-template-page-societa #focus { padding: 0; margin-top: 10px;}
    .page-template-page-societa .focus-plus-home { margin-right: 15px; margin-left: 15px; }
    #nav-societa .row > .col-xs-12:first-child .nav-societa-link { border-right: 0px solid #fff; border-bottom: 1px solid #fff; }
    #team .team-photo-mask{ height:auto;}
    #team .team-card{ width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: transform 1s; -moz-transition: transform 1s; transition: transform 1s; min-height: 370; }

    #team .team-card-back{ font-size:16px; }
    #offerte .team-photo-mask{ height:auto;}
    #offerte .team-card{ width: 100%; height: 100%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: transform 1s; -moz-transition: transform 1s; transition: transform 1s; min-height: 370; }

    #showcase-container .showcase-title{ font-size:20px; padding-top: 28px; }
	#filter{ position:fixed; left:0; top:42%; z-index:1000; }
    #intro.showcase-intro .showcase-perspective{ height:200px; }
    .showcase-claim{ font-weight:300; font-size:30px; color:#333; margin:0; }
    .showcase-claim-desc{ font-weight:300; color:#ff0903; font-size:20px; margin:0; }
    #news .news-item-photo-mask{ margin:0 -25px; }
    #news .news-item{ padding-left:25px; padding-right:25px; }
    #news .news-item-title{  font-size:22px; height:auto;}
    #news .news-item-date{ font-size:16px; }
    #news .news-item-desc{ font-size:16px; }
    #news .news-top { height: 20px; }
    .page-template-page-news #intro { padding: 7px; }
    .navbar-lang { position: relative; right: auto; top: auto; bottom: auto; }
    .navbar-lang.navbar-nav > li{ display:inline-block; padding:0; }
    .navbar-lang.navbar-nav > li > a{ border:0; border-left:1px solid #eee; padding: 10px 15px; }
    .navbar-lang.navbar-nav > li:first-child > a{ border:0; }
    .navbar-lang.navbar-nav li.active a {color: #ff0903!important;}

    .form-contatto-vertical .col-sm-1 {width: 8.33333333%;float: left;}

    .form-contatto-vertical .col-sm-10 {width: 83.33333333%;float: left;}

}