@using Laser.Orchard.StartupConfig.ViewModels;
@model ApiCredentialsPartViewModel
<fieldset>
    <legend>@T("API Credentials")</legend>
    @if (Model.HasCredentials()) {
        <div class="row api-credentials api-credentials-key">
            @T("API Key: {0}", Model.Key)
        </div>
        <div class="row api-credentials api-credentials-secret">
            @T("API Secret: {0}", Model.Secret)
        </div>
    }
</fieldset>