<button type="submit" id="btn-cp-creation">@T("Select")</button>

@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[

        // Aggiungo i parametri di querystring ai form per mantenerli in caso di errore in fase di salvataggio
        @if(Request.QueryString["callback"] != null) {
            var queryString = "";
            foreach(string key in Request.QueryString.AllKeys) {
                if (!string.IsNullOrWhiteSpace(queryString)) {
                    queryString += "&";
                }
                queryString += key + "=" + @Request.QueryString[key];
            }
            <text>
            $('#content form').each(function () {
                var formUrl = $(this).attr('action');
                formUrl += formUrl.indexOf('?') != -1 ? '&' : '?';
                formUrl += '@Html.Raw(queryString)';

                $(this).attr('action', formUrl);
            });
            </text>
        }

        // Non è stato possibile eliminare le zone del tema di admin tramite filter.
        // L'istruzione ThemeFilter.Disable cancellava completamente l'head e _resourceManager.Include() non riusciva a iniettare nuovamente gli stili necessari.
        // Come soluzione di ripiego è stato deciso di disabilitare il tutto tramite jQuery. Da eliminare una volta trovata una soluzione migliore.
        $('.zone-navigation').hide();
        $('#menubar').hide();
        $('#footer').hide();
        $('#header').hide();
        $('#layout-content').css('background', 'none');
        $('body').css('background', 'none');
        $('html').css('background', 'none');
        $('#layout-main').css('padding-bottom', '0px');
        $('#page-title').css('padding-left', '30px');
        $('.zone-messages').css('padding-top', '0px');
        $('#base').css('padding-left', '30px');
        $('#main').css('margin-left', '20px');
        $('#main').css('margin-right', '20px');
        //]]>
    </script>
}