@using hTools = Laser.Orchard.Highlights.Shared.HelperTools;
@using Laser.Orchard.Highlights.Models;
@if (Model.HighlightsItems.Count > 0) {
    var HighlightsService = WorkContext.Resolve<Laser.Orchard.Highlights.Services.IHighlightsService>();

    Script.Require("jQueryColorBox").AtHead();
    Script.Require("jQuery_CarouFredSel").AtHead();

    Style.Require("jQueryColorBox").AtHead();
    Style.Include("slider-WideWithBottomBullet.css").AtHead();


    using (Script.Head()) {
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            @{
        var primo = ((List<dynamic>)Model.HighlightsItems).FirstOrDefault();
                <text>var primo =  "@primo.LinkText";</text>
                <text>var Numero = @Model.HighlightsItems.Count;</text>
                
        //var offsetBoxTop = "182px";
        //var offsetBoxTopHide = "220px";

        //var offsetPagTop = "0px";
        //var offsetPagTopHide = "-38px";

        //var offsetArrowPrev = "2px";
        //var offsetArrowNext = "2px";
        //var offsetArrowHide = "-32px";
                
            }


            $('#slideshow-slider-@Model.ContentPart.Id').carouFredSel({
                responsive: true,
                items: {
                    visible: 1,
                },
                scroll: {
                    duration: 500,
                    timeoutDuration: 5500,
                    onBefore: function(data) {
 
                        //	find current and next slide
                        var currentSlide = $('.slide.active', this),
                            nextSlide = data.items.visible,
                            _width = $('#slideshow-wrapper-@Model.ContentPart.Id').width();
                        currentSlide.removeClass( 'active' );
 
                        //	animate clicked slide to large size
                        nextSlide.addClass( 'active' );
                    },
                    fx: 'uncover-fade'
                },
                pagination: '#slideshow-pager-@Model.ContentPart.Id'
            });
            $("#slideshow_wrapper-@Model.ContentPart.Id .media-cbox").colorbox({ iframe: true, innerWidth: 640, innerHeight: 480 }); 

        });
        /* ]]> */
    </script>
    }
    <div class="slideshow-wrapper" id="slideshow-wrapper-@Model.ContentPart.Id">
        <div class="slideshow-slider" id="slideshow-slider-@Model.ContentPart.Id">
            @{
    var indexer = 0;
            }
            @foreach (var item in Model.HighlightsItems) {
                indexer++;
                if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.ByHand) {
                @Display(item.Content)} else if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.FromQuery) {
                    //FromQuery
                    var shape = HighlightsService.CreateHighlightsItemShape(item, Model.HighlightsGroup.DisplayTemplate.ToString());
                @Display(shape)
                }
            }
        </div>
        	<div class="slideshow-pager" id="slideshow-pager-@Model.ContentPart.Id"></div>

        <div class="clearfix"></div>
    </div>
}

