@using hTools = Laser.Orchard.Highlights.Shared.HelperTools;
@using Laser.Orchard.Highlights.Models;
@if (Model.HighlightsItems.Count > 0) {
    var HighlightsService = WorkContext.Resolve<Laser.Orchard.Highlights.Services.IHighlightsService>();

    Style.Require("jQuery_Cycle").AtHead();

    Script.Require("jQueryColorBox").AtHead();
    Script.Require("jQuery_CarouFredSel").AtHead();

    Style.Require("jQueryColorBox").AtHead();
    Style.Require("jQuery_CarouFredSel_Responsive").AtHead();


    using (Script.Head()) {
    <script type="text/javascript">
        /* <![CDATA[ */
        $(document).ready(function () {
            @{
        var primo = ((List<dynamic>)Model.HighlightsItems).FirstOrDefault();
                <text>var primo =  "@primo.LinkText";</text>
                <text>var Numero = @Model.HighlightsItems.Count;</text>
                
        //var offsetBoxTop = "182px";
        //var offsetBoxTopHide = "220px";

        //var offsetPagTop = "0px";
        //var offsetPagTopHide = "-38px";

        //var offsetArrowPrev = "2px";
        //var offsetArrowNext = "2px";
        //var offsetArrowHide = "-32px";
                
            }
            $('#slideshow-@Model.ContentPart.Id').carouFredSel({
                prev : ".html_carousel .slideshow_prev",
                next : ".html_carousel .slideshow_next",
                auto: {
                    play: false,
                },
                responsive	: true,
                scroll		: {
                    fx			: "crossfade"
                },
                items		: {
                    visible		: 1,
                    width		: 870,
                    height		: "46%"
                }            });	
            $("#slideshow_wrapper-@Model.ContentPart.Id .media-cbox").colorbox({ iframe: true, innerWidth: 640, innerHeight: 480 }); 

        });
        /* ]]> */
    </script>
    }
    <div class="html_carousel">
        @if (Model.HighlightsItems.Count > 1) {
            <a class="slideshow_prev" id="slideshow-@Model.ContentPart.Id-prev" href="#"><span>prev</span></a>
            <a class="slideshow_next" id="slideshow-@Model.ContentPart.Id-next" href="#"><span>next</span></a>
        }
        <div id="slideshow-@Model.ContentPart.Id">
            @{
        var indexer = 0;
            }
            @foreach (var item in Model.HighlightsItems) {
                indexer++;
                if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.ByHand) {
                @Display(item.Content)} else if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.FromQuery) {
                    //FromQuery
                    var shape = HighlightsService.CreateHighlightsItemShape(item, Model.HighlightsGroup.DisplayTemplate.ToString());
                @Display(shape)
                }
            }
        </div>
        <div class="clearfix"></div>
    </div>
}