@model Laser.Orchard.Queries.Controllers.prebuilder
@{ Layout.Title = "New Query"; }

@using (Html.BeginFormAntiForgeryPost()) {
@*  @Html.AntiForgeryToken()  *@

    <label for="search">@T("Title:")</label>
    @Html.TextBoxFor(m => m.Title)

    <button type="submit">@T("Save")</button>

}