@model Laser.Orchard.ZoneAlternates.Models.ContentAlternatePartSettings

@T("List of alternates to add during display process.")
@Html.TextAreaFor(m => m.AlternateNames)
<span class="hint">@T("Enter one alternate per line")</span>

