@using Laser.Orchard.Events.Models
@using Orchard.Projections.Models

@{
    Style.Require("FullCalendar");
    Script.Require("jQuery");
    Script.Require("FullCalendar");

    using (Script.Foot()) {
        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    editable: false,
                    selectable: true,
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'month,agendaWeek'
                    },
                    defaultView: 'month',
                    events: '@Url.Action("GetEvents", "Calendar", new { area = "Laser.Orchard.Events", queryId = Model.Calendar.QueryPartRecord.Id })',
                    timeFormat: '(HH:mm)',
                    nextDayThreshold: '00:00:00'
                });
            });
        //]]>
    </script>
    }
}

<div id='calendar'></div>
