@using Laser.Orchard.Events.Models
@using Orchard.Projections.Models

@{
    Style.Require("FullCalendar");
    Script.Require("jQuery");
    Script.Require("FullCalendar");
    Script.Require("FullCalendar.Locales");

    using (Script.Foot()) {
        <script type="text/javascript">
            //<![CDATA[
            document.addEventListener('DOMContentLoaded', function () {
                var calendarElement = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarElement, {
                    initialView: 'dayGridMonth'
                });

                calendar.render();
            });
                //]]>
        </script>
    }
}

<div id='calendar'></div>
