&nbsp;|&nbsp;<button type="submit" name="submit.SendNewsletter" value="submit.SendNewsletter">@T("Send Newsletter")</button>
&nbsp;|&nbsp;@Html.TextBox("SendNewsletterEmailTest", "", new { @class="text-medium", @placeholder=T("Insert a test email")})
<button type="submit" name="submit.SendNewsletter" value="submit.SendNewsletterTest">@T("Send Test Newsletter")</button>
