@{
    var itemId = (int)Model.WishListItemId;
    var wishListid = (int)Model.WishListId;
}

@using (Html.BeginFormAntiForgeryPost(
                Url.Action("RemoveFromWishList", "WishLists",
                    new { area = "Nwazet.Commerce", itemId = itemId, wishListid = wishListid }),
                FormMethod.Post)) {

    <div class="wishlist-remove-from-wishlist-button">
        <input type="hidden" id="itemId" name="itemId" value="@itemId" />
        <input type="hidden" id="wishListId" name="wishListId" value="@wishListid" />
        <button type="submit">@T("Remove")</button>
    </div>
}