@using Nwazet.Commerce.Models
@using Orchard.ContentManagement

@using Orchard.Security
@{
    int productId = (int)Model.ProductId;
    List<WishListListPart> wishLists = (List<WishListListPart>)Model.WishLists;
    IUser user = (IUser)Model.User;

    Script.Require("jQuery");
    Style.Include("wishlists.nwazet-commerce.css", "wishlists.nwazet-commerce.min.css");
    Script.Require("Nwazet.Wishlists");

    var addToWishlistText = T("Add to WishList").Text;
}

@using (Html.BeginFormAntiForgeryPost(
                            Url.Action("AddToWishList", "WishLists", new { area = "Nwazet.Commerce" }),
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }
                            )) {

    if (user != null) {
        var wishlistItems = new List<SelectListItem>();
        if (wishLists.Count > 1) {
            wishlistItems.Add(new SelectListItem {
                Value = "0",
                Text = T("WishList (default)").Text
            });
            wishlistItems.AddRange(wishLists.Select(s => new SelectListItem {
                Value = s.Id.ToString(),
                Text = Html.ItemDisplayText((IContent)(s.ContentItem)).ToString()
            }));
        }

        <div class="col-md-8 single-right">
            <div class="simpleCart_shelfItem">
                @if (wishLists.Count > 1) {
                    @Html.DropDownList("wishListId", wishlistItems, new { @class = "wish-list-dropdownlist" })
                } else {
                    @Html.Hidden("wishListId", 0)
                }
                <input type="hidden" id="productId" name="productId" value="@productId" />
                <p>
                    <button id="wishlist-add" type="submit" name="wishlist-add">
                        @addToWishlistText
                    </button>
                </p>
                @if (Model.AttributeShapes != null) {
                    <div id="add-to-wishlist-attributes" style="display:none;">
                        @*Attributes will be copied in this div once the button is clicked*@
                    </div>
                }
            </div>
        </div>
    }

}