<div class="container">
    <ul>
        <li>
            <a class='tasto-font' href='javascript:resizeText(1)'>A+</a>
            <a class='tasto-font' href='javascript:resizeText(-1)'>A-</a>
        </li>
        @{
            var cookie = WorkContext.HttpContext.Request.Cookies.Get("Accessibility");
            var accessibilityCookie = (cookie == null) ? "" : cookie.Value;
        }
        @if (accessibilityCookie != "highcontrast")
        {
            <li>
                <a href='@Model.Url?high'>CONTRASTO</a>
            </li>
        }
        @if (accessibilityCookie != "textonly")
        {
            <li>
                <a href='@Model.Url?txt'>SOLO TESTO</a>
            </li>
        }
        @if (accessibilityCookie != "normal")
        {
            <li>
                <a href='@Model.Url?normal'>NORMALE</a>
            </li>
        }
    </ul>
</div>
@using (Script.Head())
{
    <script type="text/javascript">
        $(document).ready(function () {
            var fontSize = getCookieValue("AccessibilitySize");
            if (fontSize == "") {
                fontSize = document.body.style.fontSize;
                if ((fontSize == null) || (fontSize == "")) {
                    setCookieValue("AccessibilitySize", "1.4");
                }
                else {
                    setCookieValue("AccessibilitySize", fontSize);
                }
            }
            else {
                resizeText(0);
            }
        });

        function getCookieValue(cookieName) {
            var result = "";
            var cookies = document.cookie;
            var arr = cookies.split(";");
            var nameLen = cookieName.length + 1;
            var cook;
            for (var idx = 0; idx < arr.length; idx++) {
                cook = arr[idx].trim();
                if (cook.slice(0, nameLen) == (cookieName + "=")) {
                    result = cook.substr(nameLen);
                    break;
                }
            }
            return result;
        }

        function setCookieValue(cookieName, cookieValue) {
            var aux = cookieName + "=" + cookieValue + "; expires=" + new Date(new Date().valueOf() + 1000 * 60 * 60 * 24 * 30).toUTCString() + "; path=/";
            document.cookie = aux;
        }

        function resizeText(multiplier) {
            var fontSize = getCookieValue("AccessibilitySize");
            fontSize = parseFloat(fontSize) + (multiplier * 0.2);
            setCookieValue("AccessibilitySize", fontSize);
            document.body.style.fontSize = fontSize + "em";
        }
    </script>
}