<div class="row">
    <div class="col-sm-1 col-md-2">
        &nbsp;
    </div>
    <div class="col-sm-10 col-md-8">
        @Model.Html
    </div>
    <div class="col-sm-1 col-md-2">
        &nbsp;
    </div>
</div>