@{
    Style.Include("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
    Style.Include("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome-ie7.min.css").UseCondition("IE 7");
}

@if(Model.MailMessageSent??false)
{
    var aux = string.Format("({0}/{1})", Model.SentMailsNumber??0, Model.RecipientsNumber??0);
    <span style="color:green;font-weight:bold"><i class="fa fa-envelope"></i> @aux</span>
}
else if (Model.SendOnNextPublish??false)
{
    <span style="color:orange;font-weight:bold"><i class="fa fa-envelope"></i></span>
}
else {
    <span style="color:red;font-weight:bold"><i class="fa fa-envelope"></i></span>
}

