@using Orchard.ContentManagement;

@{
  var userName = ((IContent)Model.ContentItem).As<Orchard.Security.IUser>().UserName;
}
  <!-- Profile Head -->
<div class="profile-head">
    <h1>@Html.TitleForPage(userName)</h1>
    @if(WorkContext.CurrentUser != null && WorkContext.CurrentUser.UserName == userName) {
        @Html.ActionLink(T("Edit your profile").Text, "Edit")
    }
</div>