<div class="sharebar-wrapper">
    @Display(New.Share_ShareBar_Base(ViewModel: Model.ViewModel))
</div>
@Display(New.Share_ShareBar_Config(ViewModel: Model.ViewModel))
@{
    Script.Require("Laser_Orchard_Sharing").AtFoot();
}