@{
    Layout.Title = Html.TitleForPage(T("Change Password").ToString());
}

<div class="fullscreen accounts-page">
    <div class="d-flex align-items-center">
        @Display.ResultBox(
            MainMessage: T("Your password has been changed successfully!"),
            SubMessage: (ViewData["InvalidateOnPasswordChange"] != null && (bool)ViewData["InvalidateOnPasswordChange"]) ? T("Please, login using your new password.") : null,
            ButtonLink: Url.Action("LogOn", new { Controller = "Account", Area = "Orchard.Users" }),
            ButtonText: T("Sign in")
       )
    </div>
</div>