@{
    Layout.Title = T("Email unsubscription");
}
<h1>@T("Email unsubscription")</h1>
<div>
    <p>@T("A confirmation email was sent to your email address.<br/>Please confirm your unsubscription by clicking on link in your email.")</p>
</div>
