@using Orchard.ContentManagement
@using (Script.Head()) {
    <script type="text/javascript">
        $(document).ready(function () {
            var ButtonSubmit = document.getElementsByName('submit.Save');
            i = ButtonSubmit.length;
            while (i--) {
                ButtonSubmit[i].style.display = 'none';
            }
        });
    </script>
}
@using (Script.Foot()) {
    <script type="text/javascript">
        function SelezionaPacchetto(idpacchetto, testo, titolo, PrezzoConsigliato, idpdf) {
            if (idpacchetto > 0) {
                document.getElementById('Prodotti_TitoloPacchetto_Text').value = titolo;
                document.getElementById('PacchettoPart_Descrizione_Text').value = testo;
                document.getElementById('PacchettoPart_PrezzoConsigliato_Value').value = PrezzoConsigliato;
                document.getElementById('Prodotti_Prezzo_Value').value = PrezzoConsigliato;
                document.getElementById('PanelPacchetti').style.display = 'none';

                document.getElementById('PacchettoPart_Pdf_SelectedIds').value = idpdf;


                var PanelProdotto = document.getElementsByClassName('PanelProdotto');
                i = PanelProdotto.length;
                while (i--) {
                    PanelProdotto[i].style.display = 'block';
                }
                document.getElementById('Prodotti.Pacchetto.SelectedIds').value = idpacchetto;
                var ButtonSubmit = document.getElementsByName('submit.Save');
                i = ButtonSubmit.length;
                while (i--) {
                    ButtonSubmit[i].style.display = 'block';
                }
            }
        }
    </script>
}
<div class="wrapper indent-bot pad-right-relative">
    @foreach (var item in Model.Items) {
        <div class="col-1-2">
            <div class="wrap-col def-list-1">
                @Display(item)
                @{var id = item.ContentItem.Id;
                  string text = ((dynamic)item.ContentItem).PacchettoPart.Descrizione.Value.ToString().Replace("'", "''");
                  string titolopacchetto = ((dynamic)item.ContentItem).TitlePart.Title.ToString().Replace("'", "''");
                  string prezzoconsigliato = ((dynamic)item.ContentItem).PacchettoPart.PrezzoConsigliato.Value.ToString("G").Replace("'", "''");
                  string idpdf = "";
                  int[]  pdfids=((dynamic)item.ContentItem).PacchettoPart.Pdf.Ids;
                  if (pdfids != null) {
                      idpdf = string.Join(",", pdfids.Select(x => x.ToString()).ToArray());
                  }
                    <button onclick="javascript:SelezionaPacchetto(@id , '@text', '@titolopacchetto', '@prezzoconsigliato','@idpdf' );return false;">Scegli pacchetto </button>
                }
            </div>
        </div>
    }
</div>
