<div class="sharebar">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox"
    addthis:url="@(Model.ViewModel.Link as string)"      
    addthis:title="@(Model.ViewModel.Title as string)"
         @if (!string.IsNullOrWhiteSpace(Model.ViewModel.Description)){
             <text>addthis:description="@(Model.ViewModel.Description as string)"</text>}
         @if (!string.IsNullOrWhiteSpace(Model.ViewModel.Media)){
             <text>addthis:media="@(Model.ViewModel.Media as string)"</text>}
         >
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">    var addthis_config = { "data_track_clickback": true };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=@(Model.ViewModel.Account as string)"></script>
    <!-- AddThis Button END -->
</div>

