@{Style.Require("AddThis_Css3StyleButtons").AtHead();}

<div class="sharebar">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_share_btn" 
    addthis:url="@(Model.ViewModel.Link as string)"      
    addthis:title="@(Model.ViewModel.Title as string)"
         @if (!string.IsNullOrWhiteSpace(Model.ViewModel.Description)){
             <text>addthis:description="@(Model.ViewModel.Description as string)"</text>}
         @if (!string.IsNullOrWhiteSpace(Model.ViewModel.Media)){
             <text>addthis:media="@(Model.ViewModel.Media as string)"</text>}
         >
        <a href="//addthis.com/bookmark.php" class="addthis_button_compact">    <span>Share</span></a>
    </div>
    <script type="text/javascript">        var addthis_config = { "data_track_clickback": true, "ui_offset_top": 16 };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=@(Model.ViewModel.Account as string)"></script>
    <!-- AddThis Button END -->
</div>

