@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (MediaLibraryPickerField)Model.ContentField;
    string name = field.DisplayName;
    var contents = field.MediaParts;
}
@if (contents.Count() > 0) {
    <ul class="flickr clearfix">
        @foreach (var content in contents) {
            <li><a rel="prettyPhoto[flickr]" href="@content.MediaUrl" title="@content.Title">
                <img src="@Display.ResizeMediaUrl(Width: 60, Height: 60, Mode: "crop", Alignment: "middlecenter", Path: content.MediaUrl)" alt="@content.AlternateText" style="opacity: 1;"></a></li>
        }
    </ul>            
}