<!DOCTYPE html>
<html lang="en">
<head>
		
	<!-- Basic Page 
	=============================================== -->	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<meta name="description" content="">
	<meta name="author" content="">
		
	<!-- Page Title
	=============================================== -->
	<title>Home Alternative 2 | Proton</title>

	<!-- Mobile Specific 
	=============================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	
	<!-- Main CSS Files
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="css/colors/red.css" title="default" media="screen"/>

	<!-- Plugins CSS Files
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/camera.css" media="screen"/>				
	<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen"/>		

	<!-- Google WebFont CSS
	=============================================== -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic|Economica:400,700" rel="stylesheet" type="text/css"/>		

	<!-- HTML 5 Support for IE 6-8
	=============================================== -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>	
<body>
	
	<!-- BEGIN = Header -->	
	<header id="header" class="navbar navbar-static-top">
	 
		<!-- BEGIN = Navbar Inner -->
		<div class="navbar-inner">

			<!-- BEGIN = Container -->
			<div class="container">

				<!-- Logo -->
				<a class="brand" href="index.html"><img src="img/logo-red.png" alt="Proton"/></a>

				<!-- BEGIN = Main Navigation -->
				<div id="main-menu">
					<ul class="nav pull-right dropdown">
							
							<li class="active"><a href="index.html">HOME</a>
								<ul class="subnav">
									<li><a href="index2.html">Home Alternative 1</a></li>
									<li><a href="index3.html">Home Alternative 2</a></li>
									<li><a href="index4.html">Home Alternative 3</a></li>
								</ul>
							</li>
				
							<li><a href="elements.html">FEATURES</a>
								<ul class="subnav">
									<li><a href="about.html">About</a></li>
									<li><a href="team.html">Our Team</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li><a href="pricing.html">Pricing Table</a></li>
									<li><a href="testimonials.html">Testimonials</a></li>						
								</ul>			              
							</li>

							<li><a href="portfolio4.html">PORTFOLIO</a>
								<ul class="subnav">
									<li><a href="portfolio2.html">Portfolio 2 Columns</a></li>
									<li><a href="portfolio3.html">Portfolio 3 Columns</a></li>
									<li><a href="portfolio4.html">Portfolio 4 Columns</a></li>
									<li><a href="portfolio-detail.html">Portfolio Detail</a></li>														
								</ul>
							</li>

							<li><a href="blog.html">BLOG</a>
								<ul class="subnav">
									<li><a href="blog.html">Blog Index</a></li>
									<li><a href="blog2.html">Blog Index Alternative</a></li>
									<li><a href="blog-detail.html">Blog Article</a></li>																						
								</ul>						  
							</li>
							
							<li><a href="contact.html">CONTACT</a></li>

						</ul>
				</div>
				<!-- END = Main Navigation -->

			</div>
			<!-- END = Container -->

		</div>
		<!-- END = Navbar Inner -->

	</header>
	<!-- END = Header -->
		
	<!-- BEGIN = Featured Content -->
	<section id="featured">
	
		<!-- BEGIN = Slider Wrapper -->	
		<div class="fluid_container">
			
			<!-- BEGIN = Camera Slider -->	
			<div class="camera_wrap camera_emboss" id="camera-wrap">

				<div data-src="media/dubai2.jpg">
					<div class="container">						
						<div class="caption-slide1 fadeFromTop">
							<div class="caption-container">
								<h1>Donec iaculis nisl et justo malesuada id malesuada velit</h1>
							</div>							
						</div>	
						<div class="caption-slide1 fadeFromBottom"> 	
							<div class="caption-container">
								<img src="media/products.png" alt="" style="top: 160px"/>
							</div>
						</div>
					</div>
				</div>

				<div data-src="media/london.jpg">
					<div class="container">	
						<div class="caption-slide3 fadeFromRight">
							<div class="caption-container">
								<img class="image2" src="media/responsive.png" alt=""/>
							</div>								
						</div>	
						<div class="caption-slide3 fadeFromLeft">	
							<div class="caption-container">
								<img class="image1" src="media/products1.png" alt=""/>
							</div>
						</div>
					</div>
				</div>

				<div data-src="media/dubai.jpg">
					<div class="container">
						<div class="caption-slide1 fadeFromTop">
							<div class="caption-container">
								<img class="caption-head" src="media/bigtime.png" alt="Big Time">
							</div>
							
						</div>	
						<div class="caption-slide2 moveFromBottom">	
							<div class="caption-container" style="text-align: center;">
								<a href="#" class="btn btn-primary btn-large">&rarr; LEARN MORE</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- END = Camera Slider -->

		</div>
		<!-- END = Slider Wrapper -->
	
	</section>	
	<!-- END = Featured Content -->

	<!-- Clear Fix (IMPORTANT!) -->
	<div class="clearfix"></div>  

	<!-- BEGIN = Info Box -->
	<section id="info-box2">
		
		<!-- BEGIN = Info Box Container -->
		<div class="container">

			<!-- Info Box Content -->
			<div class="info-content">			
				<h4>Deliver an Extraordinary Experience for Your Clients</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing ligula eget</p> 				
			</div>	

			<!-- Info Box Button -->
			<a href="contact.html" class="btn btn-large btn-primary">Get Started</a>

		</div>
		<!-- END = Info Box Container -->

	</section>	    
	<!-- END = Info Box -->

	<!-- BEGIN = Services Alternative -->
	<section id="services2" class="container">
		
		<!-- BEGIN = Row Wrapper -->
		<div class="row">

			<!-- BEGIN = Services Row -->
			<div class="span6 row">
				
				<div class="span3">
					<div class="text-center block">
						<h4 class="block-title">DESIGN</h4>
						<img class="block-circle" src="media/lab.png" alt="Design"/>
						<p>Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod risus nisi sit.</p>
					</div>
				</div>
				
				<div class="span3">
					<div class="text-center block">
						<h4 class="block-title">DEVELOPMENT</h4>
						<img class="block-circle" src="media/tools.png" alt="Development"/>
						<p>Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod risus nisi sit.</p>
					</div>
				</div>
				
				<div class="span3">
					<div class="text-center block">
						<h4 class="block-title">MARKETING</h4>
						<img class="block-circle" src="media/graph.png" alt="marketing"/>
						<p>Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod risus nisi sit.</p>
					</div>
				</div>
				
				<div class="span3 last">
					<div class="text-center block">
						<h4 class="block-title">PERFORMANCE</h4>
						<img class="block-circle" src="media/stopwatch.png" alt="Performance"/>
						<p>Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod risus nisi sit.</p>
					</div>
				</div>

			</div>
			<!-- END = Services Row -->

			<!-- BEGIN = Why Us Row -->
			<div class="span6">

					<h3 class="section-title">WHY CHOOSE US?</h3>
					<div class="star-list list-home">
						<ul>
							<li><a href="#">Cras rutrum leo at odio volutpat id blandit fugiats ipsum ornare.</a></li>
							<li><a href="#">Donec fermentum porttitor nunc, sit amet gravida est porttitor vel.</a></li>
							<li><a href="#">Maecenas quis nisi i luctus adipiscing sed vehicula tellus amet dolore.</a></li>
							<li><a href="#">Aenean faucibus sapien a odio varius aliquet voluptas sadips.</a></li>
							<li><a href="#">Suspendisse venenatis euismod ve vestibulum volutpat nibh imperdiets.</a></li>
							<li><a href="#">Quisque non leo molestie augue imperdiet sollicitudin eu nec urna.</a></li>
							<li><a href="#">Donec pulvinar lectus quis felis laoreet vestibulum.</a></li>
							<li><a href="#">Cras rutrum leo at odio volutpat id blandit fugiats ipsum ornare.</a></li>							
						</ul>
					</div>

			</div>		
			<!-- BEGIN = Why Us Row -->

		</div>
		<!-- END = Row Wrapper -->

	</section>
	<!-- END = Services Alternative -->

	<!-- BEGIN = Latest Blog -->
	<section id="blog" class="container">
			
		<h3 class="section-title">RECENT BLOG</h3>	
		
		<!-- BEGIN = Row Wrapper -->	
		<div class="section-wrap row">					
			
			<!-- Latest Blog Info -->
			<div class="blog-info span3">
					<p>
					Integer vel lacus at tellus porta consectetur. Morbi ac leo sit amet nisl tristique dapibus in a tortor. 
					Sed rhoncus neque ac sem pharetra eget egestas dolor egestas.
					</p>
					<a href="#" class="btn btn-primary">READ BLOG</a>				
			</div>
							
			<div class="span3">			
				<div class="news-block">
					<div class="p-thumb">
						<img class="portfolio-thumb " src="media/portfolio/small/portfolio-small-1.jpg" alt="Laptop"/>
						<div class="image-overlay-bg">
							<a href="http://vimeo.com/1084537" data-rel="prettyPhoto[portfolio]" title="Lorem Ipsum Dolor" class="overlay-video"></a>
							<a href="portfolio-detail.html" title="Lorem Ipsum Dolor" class="image-link"></a>
						</div>	
					</div>						
					<h4><a href="#">Portfolio Item</a></h4>						
					<p>Praesent nec libero vel justo tempor aliquam eu at nunc. Vestibulum ante ipsum primis in faucibus luctus et...</p>
					<a href="#" class="btn btn-primary btn-small"><i class="icon-chevron-right icon-white"></i> READ MORE</a>
				</div>
			</div>
			
			<div class="span3">			
				<div class="news-block">
					<div class="p-thumb">
						<img class="portfolio-thumb " src="media/portfolio/small/portfolio-small-2.jpg" alt="Laptop"/>
						<div class="image-overlay-bg">
							<a href="http://www.youtube.com/watch?v=eRsGyueVLvQ" data-rel="prettyPhoto[portfolio]" title="Lorem Ipsum Dolor" class="overlay-video"></a>
							<a href="portfolio-detail.html" title="Lorem Ipsum Dolor" class="image-link"></a>
						</div>	
					</div>						
					<h4><a href="#">Portfolio Item</a></h4>						
					<p>Praesent nec libero vel justo tempor aliquam eu at nunc. Vestibulum ante ipsum primis in faucibus luctus et...</p>
					<a href="#" class="btn btn-primary btn-small"><i class="icon-chevron-right icon-white"></i> READ MORE</a>
				</div>
			</div>
			
			<div class="span3">
				<div class="news-block">
					<div class="p-thumb">
						<img class="portfolio-thumb " src="media/portfolio/small/portfolio-small-3.jpg" alt="Laptop"/>
						<div class="image-overlay-bg">
							<a href="media/portfolio/big/portfolio-3.jpg" data-rel="prettyPhoto[portfolio]" title="Lorem Ipsum Dolor" class="image-lightbox"></a>
							<a href="portfolio-detail.html" title="Lorem Ipsum Dolor" class="image-link"></a>
						</div>	
					</div>						
					<h4><a href="#">Portfolio Item</a></h4>						
					<p>Praesent nec libero vel justo tempor aliquam eu at nunc. Vestibulum ante ipsum primis in faucibus luctus et...</p>
					<a href="#" class="btn btn-primary btn-small"><i class="icon-chevron-right icon-white"></i> READ MORE</a>
				</div>
			</div>
				
		</div>
		<!-- END = Row Wrapper -->	

	</section>
	<!-- END = Latest Blog -->

	<!-- BEGIN = Etc. -->
	<section id="whyus" class="container">

		<!-- BEGIN = Row Wrapper -->
		<div class="row">

			<!-- Tabs -->
			<div class="span6">
			
				<h3 class="section-title">TABS</h3>	

				<!-- Tabs Navigation -->
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a href="#home">Press</a></li>
					<li><a href="#profile">Design</a></li>
					<li><a href="#messages">Development</a></li>
					<li><a href="#settings">Marketing</a></li>
				</ul>
				 
			 	<!-- Tabs Content -->
				<div class="tab-content">
					<div class="tab-pane active" id="home"><span class="dropcap">D</span>onec iaculis nisl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod. Donec iaculis nisl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod.</div>
					<div class="tab-pane" id="profile"><span class="dropcap2">D</span>onec iaculis nisl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod.First tab content. Tab contents are called "panes" Phasellus iaculis cursus mi, a suscipit lectus tincidunt ut. Integer eu scelerisque lorem. </div>
					<div class="tab-pane" id="messages"><span class="dropcap3">B</span>aculis nisl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod.3 First tab content. Tab contents are called "panes" Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod</div>
					<div class="tab-pane" id="settings"><span class="dropcap">N</span>isl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod.4 First tab content. Tab contents are called "panes"</div>
				</div>				
			
			</div>
			<!-- End Tabs -->

			<!-- Logos -->
			<div id ="logos" class="span6">
				<h3 class="section-title">OUR CLIENTS</h3>	
				<div class="section-wrap">			
					<div class="logo-wrapper">
						<div>
						<ul class="row"  id="logo-carousel">	

							<li class="span2 logo-wrap">				
								<img src="media/logo-jetstream.png" alt="" />				
							</li>
				
							<li class="span2 logo-wrap">				
								<img src="media/logo-harry.png" alt="" />				
							</li>
				
							<li class="span2 logo-wrap">							
								<img src="media/logo-constructive.png" alt="" />							
							</li>
				
							<li class="span2 logo-wrap">							
								<img src="media/logo-syncro.png" alt="" />							
							</li>
				
							<li class="span2 logo-wrap">							
								<img src="media/logo-karate.png" alt="" />
							</li>

							<li class="span2 logo-wrap">							
								<img src="media/logo-jakartakreativ.png" alt="" />							
							</li>		
				
						</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Logos -->
		</div>
		<!-- END = Row Wrapper -->

		</section>		
	<!-- END = Etc. -->	

	<!-- BEGIN = Footer -->
	<footer id="footer">
		
		<section id="footer-block" class="container">
			
			<!-- BEGIN = Footer Row Wrapper -->
			<div class="row">	

				<!-- Footer Column 1 -->
				<div class="span3">				
					<h4>About Us</h4>
					<p>
						Donec iaculis nisl et justo malesuada id malesuada velit imperdiet. 
						Mauris malesuada, justo et ornare aliquet, sem nulla cursus justo, at euismod.
					</p>					
					<p><img src="img/logo-bw.png" alt="Proton"></p>					
				</div>
				
				<!-- Footer Column 2 -->
				<div class="span3">
					<h4>Latest Tweet</h4>
					<ul class="twitter-feed">
						<li>
							Check out this great #themeforest item 'Proton - Responsive Business HTML Template' <a href="#">bit.ly/sadasd</a>
							<p>about 4 days ago</p>
						</li>
						<li>
							Check out this great #themeforest item 'Proton - Responsive Business HTML Template' <a href="#">bit.ly/sadasd</a>
							<p>about 4 days ago</p>
						</li>
					</ul>
				</div>
			
				<!-- Footer Column 3 -->
				<div class="span3">
					<h4>Latest Photos</h4>
					<ul class="flickr clearfix">						
					</ul>				
				</div>
				
				<!-- Footer Column 4 -->
				<div class="span3">
					<h4>Contact Us</h4>
					<div class="address-list">
						<ul>
							<li class="address-detail">13/2 Elizabeth Street <br />
							Melbourne VIC 3000, Australia</li>
							<li class="address-mail">hello@yoursite.com</li>
							<li class="address-phone">+123 45678 99</li>
						</ul>
					</div>	
				</div>
			
			</div>
			<!-- END = Footer Row Wrapper -->

		</section>
		
		<!-- BEGIN = Footer Copy -->
		<section id="footer-copy">
		
			<div class="container">

				<div id="scrolltop"><a href="#" title="Back To Top">Back To Top</a></div>

				<p class="copyright pull-left">
				
					&copy; 2012. Proton - Responsive Business HTML Template.
				
				</p>

				<ul class="social-links pull-right">
					
					<li>
						<a href="#" class="twitter" data-placement="top" data-original-title="Follow Us on Twitter">Follow Us on Twitter</a>
					</li>
					<li>
						<a href="#" class="facebook" data-placement="top" data-original-title="Follow Us on Facebook">Follow Us on Facebook</a>
					</li>
					<li>
						<a href="#" class="dribbble" data-placement="top" data-original-title="Follow Us on Dribbble">Follow Us on Dribbble</a>
					</li>
					<li>
						<a href="#" class="gplus" data-placement="top" data-original-title="Follow Us on Google+">Follow Us on Google+</a>
					</li>
					<li>
						<a href="#" class="pinterest" data-placement="top" data-original-title="Follow Us on Pinterest">Follow Us on Pinterest</a>
					</li>					

				</ul>					

			</div>
		
		</section>
		<!-- END = Footer Copyright -->

	</footer>
	<!-- END = Footer -->	

	<!-- Javascripts 
	=============================================== -->	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
	<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>		
	<script type="text/javascript" src="js/jquery.tools.min.js"></script>		
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.min.js"></script>			
	<script type="text/javascript" src="js/custom.js"></script>		
	<script type="text/javascript" src="js/camera.min.js"></script>			
	
	<script type="text/javascript">

	    $(function () {

	        //Camera Slider

	        jQuery('#camera-wrap').camera({
	            hover: false,
	            pagination: false,
	            thumbnails: false,
	            height: 'auto',
	            fx: 'random',
	            slideOn: 'prev',
	            loader: 'none',
	            playPause: false,
	            transPeriod: 800
	        });

	        //Tabs Script

	        $('#myTab a').click(function (e) {
	            e.preventDefault();
	            $(this).tab('show');
	        });

	    });




	</script>		
				
	</body>
</html>