@using hTools = Laser.Orchard.Highlights.Shared.HelperTools;
@using Laser.Orchard.Highlights.Models;
@if (Model.HighlightsItems.Count > 0) {
    var HighlightsService = WorkContext.Resolve<Laser.Orchard.Highlights.Services.IHighlightsService>();
    using (Script.Foot()) {
        <script type="text/javascript">
		$(function(){
			//Camera Slider
		    jQuery('#camera-wrap-@Model.Id').camera({
				hover: false,
				pagination: false,
				thumbnails: false,
				height: 'auto',
				fx: 'random',
				slideOn: 'prev',
				loader: 'none',
				playPause: false,
				transPeriod: 800
			});
		});

	
		
	
	</script>	
    }
    <!-- BEGIN = Slider Wrapper -->	
    <div class="fluid_container">
        <!-- BEGIN = Camera Slider -->
        <div class="camera_wrap camera_emboss camera_wrap_style" id="camera-wrap-@Model.Id">
            @{
    var indexer = 0;
            }
            @foreach (var item in Model.HighlightsItems) {
                indexer++;
                if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.ByHand) {
                @Display(item.Content)} else if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.FromQuery) {
                    //FromQuery
                    var shape = HighlightsService.CreateHighlightsItemShape(item, Model.HighlightsGroup.DisplayTemplate.ToString());
                @Display(shape)
                }
            }
        </div>
    </div>
    <!-- END = Slider Wrapper -->            
}