@using Orchard.ContentManagement
@using Laser.Orchard.StartupConfig.Models
@{
    var contentItems = (IEnumerable<ParentContent>)Model.ContentPickerConnector.ParentContentItems;
}
<p class="content-picker-connector">
    @if (contentItems != null && contentItems.Any()) {
        <span class="name">@T("Events"):</span>
        foreach (var contentItem in contentItems) {
        <span class="value">@Html.ItemDisplayLink(contentItem.ParentContentItem)</span>
                if (contentItem != contentItems.Last()) {
        <span>,</span>
                }
        }
    } 
</p>
