@using Orchard.Environment.Configuration
@{
    var settings = WorkContext.Resolve<ShellSettings>();
    var prefix = settings.RequestUrlPrefix;
}
@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string NormalizeUrl(string url, string prefix) {
        return url.StartsWith("~") ? Url.Content(url.StartsWith("~/" + prefix) ? url : url.Replace("~", "~/" + prefix)) : url;
    }
}
@{
    var url = Model.Href ?? "#";
    if (Model.Content != null && Model.Content.ContentItem != null && Model.Content.ContentItem.ContentType == "TipodiprodottoTerm") {
        var urlPattern = "~/lista-prodotti?termids={0}";
        url = String.Format(urlPattern,
            Model.Content.ContentItem.Id.ToString());
        url = NormalizeUrl(url, prefix);
    }
}
<a href="@url">@Model.Text</a>
