@using Laser.Orchard.CommunicationGateway.ViewModels
@using Orchard.Security
@using Laser.Orchard.Commons.Helpers
@model View_SmsVM
@*if (Authorizer.Authorize(StandardPermissions.SiteOwner)) {
}
*@
@{    Script.Require("JQuery").AtHead();
      Script.Require("jQueryUI_Core").AtHead();
      Script.Require("jQuery_NestedModels").AtHead();
      Style.Require("FontAwesome430").AtHead();
      }
<br />
<fieldset>
    <legend> @T("Sms")</legend>
        <div id="MasterSms">
        @Html.EditorFor(x => x.Elenco)
    </div>
   <p id="AddSmsButton">
   <i class="fa fa-plus" style="color: #6db7e5;"></i> @Html.LinkToAddNestedForm(x=>x.Elenco, T("Add Sms").Text, "#MasterSms", ".singlesms", "", null)
    </p>
</fieldset>