@using (Html.BeginFormAntiForgeryPost(Url.Action("CheckoutStart", "Checkout", new { area = "Laser.Orchard.NwazetIntegration" }))) {
    <button type="submit" id="payButton" style="padding: 10px 10px">@T("Checkout")</button>
}
