@using Orchard.ContentManagement;

<a href="@Url.ItemDisplayUrl((ContentItem)Model.ContentItem)">
    <img src="@Display.ResizeMediaUrl(Width: 350, Height: 200, Mode: "crop", Alignment: "middlecenter", Path: Model.ContentItem.Cards.image.MediaParts[0].MediaUrl)" class="mrg-top-small" />
</a>