<div class="wrapper indent-bot pad-right-relative">
    @foreach (var item in Model.Items) {
        <div class="col-1-2">
            <div class="wrap-col def-list-1">
                @Display(item)
            </div>
        </div>
}
</div>