<div class="sharebar">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_32x32_style addthis_default_style" 
    addthis:url="@(Model.ViewModel.Link as string)"      
    addthis:title="@(Model.ViewModel.Title as string)">
        <a class="addthis_button_facebook mrg-top-tiny"></a>
        <a class="addthis_button_twitter mrg-top-tiny"></a>
        @*<a class="addthis_button_email mrg-top-tiny"></a>*@
        <a class="addthis_button_google mrg-top-tiny"></a>
        <a class="addthis_button_compact mrg-top-tiny"></a>
    </div>
    <script type="text/javascript">        var addthis_config = { "data_track_clickback": true };</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=@(Model.ViewModel.Account as string)"></script>
    <!-- AddThis Button END -->
    @*@LinkShare.GetHtml(Model.ViewModel.Title as string, Model.ViewModel.Link as string)*@
</div>
