<div class="wrapper indent-bot">
    @foreach (var item in Model.ContentItems.Items) {
        <div class="col-1-3">
            <div class="wrap-col def-list-1">
                @Display(item)
            </div>
        </div>
}
</div>