@using hTools = Laser.Orchard.Highlights.Shared.HelperTools;
@using Laser.Orchard.Highlights.Models;
@if (Model.HighlightsItems.Count > 0) {
    var HighlightsService = WorkContext.Resolve<Laser.Orchard.Highlights.Services.IHighlightsService>();
    <div class="slider-full">
        <div class="slider-container" id="slideshow-@Model.ContentPart.Id">
            <div class="mp-slider">
                <ul class="items">
                    @{
    var indexer = 0;
                    }
                    @foreach (var item in Model.HighlightsItems) {
                        indexer++;
                        if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.ByHand) {
                        @Display(item.Content)
                        } else if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.FromQuery) {
                            //FromQuery
                            var shape = HighlightsService.CreateHighlightsItemShape(item, Model.HighlightsGroup.DisplayTemplate.ToString());
                        @Display(shape)
                        }
                    }
                </ul>
            </div>

        </div>
        @if (Model.HighlightsItems.Count > 1) {
            <a href="#" class="mp-prev"></a>
            <a href="#" class="mp-next"></a>
        }
    </div>
}

