@model Laser.Orchard.BikeSharing.Models.BikeStationPart
<fieldset>
    <div>
        @Html.LabelFor(m => m.BikeStationUName, T("Bike Station Universal Name"))
        @Html.TextBoxFor(m => m.BikeStationUName, new { @class = "text-medium" })
    </div>
</fieldset>
