.leftside {
    width: 250px;
    padding-right: 10px;
}

.questiontable {
    font-size: 83%;
}

    .questiontable tr td {
        vertical-align: top;
        background-color: #fff;
    }

.questioncondition td {
    padding: 5px 0;
    border-top: 2px dotted #ccc;
    border-bottom: 2px dotted #ccc;
}

.answertable tr td {
    padding: 0 10px;
    background-color: #fff;
}

    .answertable tr td label {
        float: right;
    }

.rightside {
    width: 100px;
    padding-left: 10px;
}

.quest_label {
    font-size: 1.0em;
    margin-top: 5px;
    display: block;
}

.j_risposta {
    width: 100%;
}

.domanda {
    width: 100%;
}

.j_condizione {
    width: 50%;
}

[data-icon]:before {
    font-family: 'FontAwesome';
    font-size: 130%;
    color: gray;
    margin-right: .5em;
    content: attr(data-icon);
    speak: none;
}

.icon-alone {
    display: inline-block;
}

.questioncondition {
    display: none;
}

.hlist-container li {
    width: 100px;
    display: inline-block;
    margin-right: 3px;
}

.hlist-container img {
    width: 100px;
}

.answer-text {
    width: auto;
}

.answer-col {
    width: 60px;
}

/*Statistiche*/

.st-answer {
    display: inline-block;
    width: 100%;
}

.answerlist {
    float: left;
}

.answerchart {
    height: 200px;
    width: 300px;
    float: right;
}

.line-separator:not(:last-of-type) {
    height: 1px;
    border-bottom: 1px solid #D3D3D3;
}

.st-btn-fieldset {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#st-export-fieldset {
    float: right;
    padding-right: 10px;
    padding-left: 30px;
}

/*Statistics*/
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .small-box > .inner {
        padding: 10px;
    }

    .small-box .icon {
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 0;
        font-size: 90px;
        color: rgba(0,0,0,0.15);
    }

    .small-box h3, .small-box p {
        z-index: 5;
    }

    .small-box h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box h3, .small-box p {
        z-index: 5;
    }

    .small-box p {
        font-size: 15px;
    }
    
    .small-box > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255,255,255,0.8);
        display: block;
        z-index: 10;
        background: rgba(0,0,0,0.1);
        text-decoration: none;
    }
/*Backgrounds*/
.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}