
@model Laser.Orchard.NwazetIntegration.ViewModels.OrderAddressEditorViewModel
@* This will display the advanced address and hide the "standard" one.
    To avoid changing the OrderPart, this view, its partials and the 
    underlying driver are somewhat depndent on it. In particular, changes
    in the view for OrderPart addresses will reflect on this view and
    on the partials used for each address here. *@
@{ 
    Style.Require("NwazetIntegration.Admin");
}

<div class="order-editor advanced-addresses col-md-12">
    <div class="order-address-editor shipping-address col-md-6">
        @Html.EditorFor(m => m.ShippingAddressVM,
            new {
                OtherElementSelector = ".order-editor .addresses fieldset.shipping-address",
                OtherPrefix = "NwazetCommerceOrder"
            })
    </div>

    <div class="order-address-editor billing-address col-md-6">
        @Html.EditorFor(m => m.BillingAddressVM,
            new {
                OtherElementSelector = ".order-editor .addresses fieldset.billing-address",
                OtherPrefix = "NwazetCommerceOrder"
            })
    </div>
</div>