
@model Laser.Orchard.NwazetIntegration.ViewModels.OrderAddressEditorViewModel
@* This will display the advanced address and hide the "standard" one *@
@{ 
    Style.Require("NwazetIntegration.Admin");
}

<div class="order-editor advanced-addresses col-md-12">
    <div class="order-address-editor shipping-address col-md-6">
        @Html.EditorFor(m => m.ShippingAddressVM,
            new {
                OtherElementSelector = ".order-editor .addresses fieldset.shipping-address",
                OtherPrefix = "NwazetCommerceOrder"
            })
    </div>

    <div class="order-address-editor billing-address col-md-6">
        @Html.EditorFor(m => m.BillingAddressVM,
            new {
                OtherElementSelector = ".order-editor .addresses fieldset.billing-address",
                OtherPrefix = "NwazetCommerceOrder"
            })
    </div>
</div>