
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active, .flexslider2 a:active
.flex-container a:focus,
.flexslider a:focus, .flexslider2 a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 

.flexslider, .flexslider2 {margin: 0; padding: 0; position: relative; zoom: 1;}
.flexslider .slides > li, .flexslider2 .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img, .flexslider2 .slides img {width: 100%; display: block;}
.flexslider .slides .slide-caption {
	background-color: rgba(0,0,0,0.5);	
	position: absolute;
	padding: 15px 15px 0px;
	bottom: 18px;
	left: 0px;
}
.flexslider2 .slides .slide-caption2 {
	background-color: rgba(0, 0, 0, 0.5);	
	position: absolute;
	padding: 20px 15px 0px;
	top: 30%;
	left: 0px;
}
.flexslider .slides .slide-caption, .flexslider2 .slides .slide-caption2 {
	width: 350px;
	max-width: 35%;
}
.caption-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
}
.caption-bottom-left {
	left: 20px;
	bottom: 20px;
}
.caption-bottom-right {
	right: 20px;
	bottom: 20px;
}
.caption-top-left {
	top: 20px;
	left: 20px;	
}
.caption-top-right {
	top: 20px;
	right: 20px;
}
.caption-top-center {
	top: 20px;
	left: 50%;
	margin-left: 20px;
	display: block;
	position: relative;
}
.flexslider .slides .slide-caption h3, .flexslider2 .slides .slide-caption2 h3 {
	font-size: 1.8em;
	margin: 0 0 5px;
	line-height: 1;
}
.flexslider .slides .slide-caption h3 a, .flexslider2 .slides .slide-caption2 h3 a{
	color: #FFF;
	text-decoration: none;
}
.flexslider .slides .slide-caption p, .flexslider2 .slides .slide-caption2 p {
	font-size: 1em;
	color: #DDD;
	font-weight: 400;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider, .flexslider2 {margin: 0 0 50px; position: relative; zoom: 1;}
.flexslider2 {margin-bottom: 0px;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.slider-titles {background: transparent url(images/bg-infobox2.png) bottom center no-repeat; margin-bottom: 1px;}
.carousel li {margin-right: 5px;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a, .flexslider2 .flex-direction-nav a {width: 28px; height: 50px; display: block; position: absolute; bottom: auto;
top: 50%; margin-top: 36px; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease;}
.flexslider2 .flex-direction-nav a {height: 28px; top: auto; bottom: 0; opacity: 1;}
.flex-direction-nav .flex-next {background-position: 100% 50%; right: 0px; }
.flexslider2 .flex-direction-nav .flex-next {background-position: 100% 50%; left: 29px;}
.flex-direction-nav .flex-prev {background-position: 0% 50%; left: 0px;}
.flexslider:hover .flex-next, .flexslider2:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev, .flexslider2:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover, .flexslider2:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .flexslider2:hover .flex-prev:hover {background-color: #7a7a7a; opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -38px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7);}
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default;}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 767px) {

	.flex-direction-nav a {
 		-webkit-transition: none; -moz-transition: none; transition: none;		
		margin-top: 48px;
	}
	.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
	.flex-direction-nav .flex-next {opacity: 1; right: 0;}
	.flexslider .slides .slide-caption, .flexslider2 .slides .slide-caption2 {
		display: none;
	}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.flex-direction-nav a {
		margin-top: 52px;				
	}
}

@media only screen and (max-width: 319px) and (max-width: 479px) { 
	.flex-direction-nav a {
		margin-top: 92px;				
	}
}
