/*	Responsive
================================================== */

@media screen and (max-width: 979px) and (min-width: 768px) {
	#contact-form .input-xxlarge {
		width: 422px;
	}
	.testi-inner {
		position: relative;
 	 }
	.testi-quote {
		width: auto;
		margin-right: 120px;
	}
	.testi-author {
		position: absolute;
		top: 15px;
		right: 15px;
		float: none;
	}
	.testi-quote-left {
		width: auto;
		margin-left: 120px;
	}
	.testi-author-left {
		position: absolute;
		top: 15px;
		left: 15px;
		float: none;
	}
	.logo-wrap {

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.logo-wrap img {
		width: 90%;
	}
}

@media screen and (max-width:767px) {
  body .container {
	padding: 0 20px;
  }
  .portfolio-wrap .portfolio {
	margin-left: 0px !important;
  }
  .portfolio-wrap .portfolio article, .portfolio article {
	width: 100%;
	max-height: none;
	max-width: none;
	margin-bottom: 20px !important;
  }
  .post-date {
	width: auto;
	padding: 0 5px 0 0 !important;

  }
  .post-title {
	width: 100%;
	padding-left: 0;
  }
  .post-date > span {
	font-size: 1em !important;
	display: inline-block !important;	
	font-weight: bold !important;
	padding: 5px 0;
  }
  .post-date > span.day {
	padding: 5px;
	margin-right: 2px;
  }
  .photo-thumb, .photo-thumb2 {
	display: block;
	width: 100%;
	margin: 0 0 20px 0;
	}

  .testimonials li {
	width: 100%!important;
  }
  .post img {
	width: 100%;
  }

  .info-content {
	width: 100%;	
  }
  #info-box2 {
	position: relative;
	width: 100%;
	text-align: center;
  }
  .info-content h4 {
	line-height: 1;
	font-size: 2em;	
  }
  .info-content p {
	margin: 0;
	font-size: 1.4em;
  }
  #info-box2 .btn {
	text-align: center;	
	margin-top: 0;
	margin-bottom: 20px;
	float: none;
  }
  .slide-caption {
	display: none;
  }
  .slide-caption-full > * {
	display: none;
  }
  .flexslider-full .slides li {
	height: auto !important;
	min-height: 200px;
  }
  .testi-inner {
	position: relative;
  }
  .testi-quote {
	width: auto;
	margin-right: 120px;
  }
  .testi-author {
	position: absolute;
	top: 15px;
	right: 15px;
	float: none;
  }
  .testi-quote-left {
	width: auto;
	margin-left: 120px;
  }
  .testi-author-left {
	position: absolute;
	top: 15px;
	left: 15px;
	float: none;
  }
  .post-date2 {
	width: auto;
	padding: 0 5px 0 0 !important;
	margin-bottom: 10px;
  }
  .post-title2 {
	width: 100%;
	padding-left: 0;

  }
  .post-date2 > span {
	font-size: 1em !important;
	display: inline-block !important;	
	font-weight: bold !important;
	padding: 5px 0;
  }
  .post-date2 > span.day {
	padding: 5px;
	margin-right: 2px;
  }  
  .theme-widget {
  	margin-left: 0;
  }
}

 

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.portfolio-item {
			width: 166px !important;		
	}
	.post2 .post-media {
			width: 104px;
	}
	.post2 .post-content {
			width: 352px;
	}
	.post2 .post-info {
			font-size: .85em;
	}
	.info-content h4 {
		line-height: 1;
		font-size: 1.8em;	
	}
	.info-content p {
		margin: 0;
		font-size: 1.3em;
	}
	.caption-container .cta{
		font-size: 4em !important;
	}
	.caption-container .btn {
		margin-top: 300px;
	}
	.caption-slide3 .caption-container > img.image1 {
		top: 100px;			
	}
	.caption-slide3 .caption-container > img.image2 {
		top: 120px;		
	}
	.photo-thumb, .photo-thumb2 {
		float: none;
		display: block;
		margin: 0 auto;
	}		
	.teams {
		text-align: center;
	}
	.price-table.table-index.span3 {
		width: 166px;

	}
	.price-table.span3 {
		width: 186px;

	}
	.testi-author {
		padding-right: 0px
	}
	.testi-author-left {
		padding-left: 0px
	}
		
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#main-menu .nav { display: none; }
	#contact-form .input-xxlarge {
		width: 100%;
	}
	.teams {
		text-align: center;
	}
	#services .span3, #services .span4, #services2 .span3 {
		border-right: none;
		border-bottom: none;
	}
	.post2 .post-info {
		font-size: .85em;
	}
	.post2 .post-media, .post2 .post-media img {
		width: 100% !important;	,
	}
	.post2, .post2 .post-content {
		width: 100%;
	}

	#blog .span3 {
		margin-bottom: 35px;
	}
	.price-table.table-index.span3, .price-table.span3 {
		width: 50%;	
		float: left;	
		margin-bottom: 30px;
	}	
	.pricing .features {
		border-left: 1px solid #E5E5E5;
		margin: 0;
		padding: 5px 15px;
		border-right: 1px solid #E5E5E5;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: -1px;
		}
	#blog .span3 img {
		width: 100% !important;
	}
	.portfolio-wrap {
		margin-bottom: 0;
	}
	.testi-author {
		padding-right: 0px;
	}
	.testi-author-left {
		padding-left: 0px
	}
	.copyright,  .social-links{
		display: block;
		text-align: center;
		float: none;
	}	
	.logo-wrap {
		margin-bottom: 15px;
	}
}

	
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#main-menu select { display: block; margin-top: 19px; float: right;}
	#logo-carousel ul {
		width: 100% !important;
	}
	.logo-wrap {
		width: auto !important;
		border: 1px solid #e5e5e5;
		text-align: center;
		margin-bottom: 15px !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;		
	}
	.caption-slide3 .caption-container > img.image1 {
		top: 80px;			
		}
		.caption-slide3 .caption-container > img.image2 {
		top: 90px;			
		}
	.portfolio-item {
		width: 210px !important;		
	}
	
	.caption-container .cta{
		font-size: 3.5em !important;
	}
	.caption-container .btn {
		margin-top: 250px;
	}	
	.navbar .brand {
		text-align: center;
		margin: 20px auto;
		float: none;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#main-menu .brand {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		padding: 0 !important;
	}
	#main-menu select { display: block; width: 100% !important; margin: 0 0 20px 0;}
	#main-menu a.brand { 
		text-align: center!important;
		width: 100%;
	}
	.articles .pagination ul {
		display: none;
	}
	.articles .pagination select {
		display: block; 
		width: 100%;
	}
	.caption-slide3 .caption-container > img.image1 {
		top: 80px;			
	}
	.caption-slide3 .caption-container > img.image2 {
		top: 90px;			
	}	
	.portfolio-item {
		width: 300px !important;		
	}
	.work-thumb img {
		width: 100% !important;
	}
	.menu-filterable a {
		padding-left: 5px;
		padding-right: 5px;
		margin: 0;
	}	
	.menu-filterable a:focus {
		outline: 0;
	}
	.menu-filterable li {
		margin: 0;
		padding: 0;
	}
	.caption-container .btn {
		margin-top: 170px;
		font-size: 24px;
		padding: 10px 15px;
	}
	.caption-container h1 {
		margin-top: 20px !important;
	}

	.caption-container .cta{
		font-size: 2.6em !important;
		margin-top:20px !important;
	}
	.navbar .brand {
		text-align: center;
		margin: 20px auto;
		float: none;
	}
	.price-table.table-index.span3, .price-table.span3 {
		width: 100%;
	}
	.featured .features, .featured .footer, .price-table:last-child .features, .price-table:last-child .footer {
		border-left: 1px solid #e5e5e5;
	}
	.testi-quote {
		padding-left: 0px;
		text-shadow: 1px 1px 0px #fff;
	}
	.testi-quote-left {
		padding-right: 0px;
		text-shadow: 1px 1px 0px #fff;
	}
}

/* Camera Slider Responsive*/
@media only screen and (min-width: 929px) and (max-width: 959px) {
.camera_wrap_style {height:520px !important;}

}

@media only screen and (min-width: 899px) and (max-width: 929px) {
.camera_wrap_style {height:490px !important;}

}

@media only screen and (min-width: 869px) and (max-width: 899px) {
.camera_wrap_style {height:480px !important;}

}

@media only screen and (min-width: 839px) and (max-width: 869px) {
.camera_wrap_style {height:470px !important;}

}

@media only screen and (min-width: 809px) and (max-width: 839px) {
.camera_wrap_style {height:460px !important;}

}

@media only screen and (min-width: 767px) and (max-width: 809px) {
.camera_wrap_style {height:450px !important;}

}

@media only screen and (min-width: 749px) and (max-width: 767px) {
.camera_wrap_style {height:440px !important; margin-bottom:-1px;}
}

@media only screen and (min-width: 719px) and (max-width: 749px) {
.camera_wrap_style {height:430px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 689px) and (max-width: 719px) {
.camera_wrap_style {height:420px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 659px) and (max-width: 689px) {
.camera_wrap_style {height:410px !important; margin-bottom:-1px;}
}

@media only screen and (min-width: 629px) and (max-width: 659px) {
.camera_wrap_style {height:400px !important; margin-bottom:-1px;}
}

@media only screen and (min-width: 599px) and (max-width: 629px) {
.camera_wrap_style {height:390px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 569px) and (max-width: 599px) {
.camera_wrap_style {height:380px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 539px) and (max-width: 569px) {
.camera_wrap_style {height:380px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 509px) and (max-width: 539px) {
.camera_wrap_style {height:370px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 479px) and (max-width: 509px) {
.camera_wrap_style {height:360px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 449px) and (max-width: 479px) {
.camera_wrap_style {height:350px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 419px) and (max-width: 449px) {
.camera_wrap_style {height:340px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 389px) and (max-width: 419px) {
.camera_wrap_style {height:330px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 359px) and (max-width: 389px) {
.camera_wrap_style {height:320px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 329px) and (max-width: 359px) {
.camera_wrap_style {height:280px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 299px) and (max-width: 329px) {
.camera_wrap_style {height:280px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 269px) and (max-width: 299px) {
.camera_wrap_style {height:270px !important; margin-bottom:-1px;}
}

@media only screen and (min-width: 239px) and (max-width: 269px) {
.camera_wrap_style {height:250px !important; margin-bottom:-1px;}

}

@media only screen and (min-width: 600px) and (max-width: 820px) {
	.caption-container .prod {
		top: 170px;
	}
}