﻿@using Orchard.ContentManagement
@{
    Layout.Title = T("Address Configuration Settings").ToString();
}

<h1>@T("Address Configuration Settings")</h1>

@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    @Display(Model.Content)
    <fieldset>
        <button class="primaryAction" type="submit">@T("Save")</button>
    </fieldset>
}