@using Orchard.ContentManagement

@{ 
    var _contentManager = WorkContext.Resolve<IContentManager>();
    //var _advancedSettingsService = WorkContext.Resolve<IAdvancedSettingsService>();

}


<p>QUESTO è UN BONIFICO</p>