@model Laser.Orchard.PaymentGateway.Models.CustomPosSiteSettingsPart

@using (Html.BeginFormAntiForgeryPost()) {
    <legend>@T("Custom Pos Settings")</legend>
    <div class="form-group">
        CUSTOM POS SETTINGS
    </div>
}
