<button type="submit"
        name="SelectedPosService"
        value="CustomPos_@Model.PosName"
        style="padding: 10px 10px;"
        class="btn btn__bg d-block">
    @T("Pay now with {0}", Model.PosName)
</button>